.entryPage {
  height: 100vh;
}

.entryContainer {
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.entryBox {
  background-color: #4a9085;
  height: 80%;
  width: 70%;
  padding: 1.5rem;
  border-radius: 1.5rem;
  border: solid #debc72 4px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
}

.colorBox {
  height: 3rem;
  width: 4rem;
  border-radius: 2rem;
  box-shadow: rgba(2, 2, 2, 0.2) 3px 3px 0px 1px;
  margin: 0.3rem;
}

.entryTextBox {
  background-color: #debc72;
  color: #293d48;
  height: 60%;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  align-items: center;
}

.entryText {
  height: 95%;
  overflow: scroll;
  transform: translateY(0.4rem);
}

.entryText::-webkit-scrollbar {
  width: 0.8rem;
}
.entryText::-webkit-scrollbar-track {
  background: transparent;
}
.entryText::-webkit-scrollbar-thumb {
  background-color: #d46b55;
  border-radius: 20px;
}
.entryText::-webkit-scrollbar-corner {
  background: transparent;
}

.headerTitle {
  font-size: 1.3rem;
}

.headerText {
  margin: 0.5rem;
}

.title {
  font-size: 1.6rem;
  margin: 0.5rem;
}

.colorAndButtons {
  display: flex;
}

.editButton,
.deleteButton {
  background: none;
  border: none;
  margin: 0.3rem;
  padding: 0.3rem;
  border-radius: 1rem;
}

.editButton:hover,
.deleteButton:hover {
  cursor: pointer;
}

.editButton:hover {
  background-color: #debc72;
}

.deleteButton:hover {
  background-color: #d46b55;
}