html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Antonio', sans-serif;
  background-color: #233E49;
  color: #E5BB66;
}

a {
  color: inherit;
  text-decoration: none;
}

.react-calendar {
  max-width: 100%;
  background-color:#E5BB66;
  font-family: 'Antonio', sans-serif;
  width: 100%;
  line-height: 1.125em;
  padding: 1rem;
  box-shadow: rgba(2, 2, 2, 0.5) 3px 3px 0px 2px;
}

.react-calendar--doubleView {
  width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline:none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.react-calendar__month-view button {
  box-shadow:rgba(35, 62, 73, 0.2) 3px 3px 4px 0px;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
}
.react-calendar__month-view__days__day--weekend {
  color: #d46b55;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
}

.react-calendar__tile--now {
  background: rgba(212, 107, 85, 0.5);
}

.react-calendar__navigation__label {
  font-size: 1.5rem;
  font-family: 'Antonio', sans-serif;
  text-overflow: ellipsis;
  overflow: hidden;
}

.react-calendar__navigation__label__labelText {
  background-color: #d46b55;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 1rem;
  border-radius: 1rem;
  box-shadow: rgba(2, 2, 2, 0.2) 3px 3px 0px 1px;
  text-transform:lowercase;
}

.react-calendar__viewContainer {
  height: 80%;
}

.react-calendar__month-view {
  height: 100%;
}

.react-calendar__month-view__weekdays {
  color: #233E49;
}

.react-calendar__month-view__days__day {
  font-weight: bold;
  font-family: 'Antonio', sans-serif;
}

.react-calendar__month-view__days__day abbr {
  padding: 0.3rem;
}

@media screen and (max-width: 700px) {
  .react-calendar__navigation__label__labelText {
    background-color: transparent;
    padding: 0px;
    margin: 0px;
    box-shadow: none;
    font-size: 1rem;
  }

  .react-calendar__tile {
    height: 4.2rem;
  }
}